*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-circle{
    background-color: beige;
    border: 5px solid #277F83;
}

h1,h2{
  font-family: 'Kaushan Script';
}

h1{
    font-size: 5em;
}

h2{
  font-size: 2.7em;
}


html{
    height: 100vh;
}

.divider,
.linehorizontal{
    border: 1px solid white;
    width: 9%;
    margin: 4% auto;
}

.divider{
    width: 5%;
    margin: 2% auto 2.5%;
}

#home,aside{
    height: 100vh;
}

/*==================================*/

#home{
    background-color: white;
    background-image: url(../img/fondos/vi9s3k.gif);
    color: white;
    display: flex;        /* centrar el texto */
    align-items: center;
    justify-content: center;  /* end centrar el texto */
}

/*#homeToggle .btn-default,*/
#home .btn-default{
    color: white;
    background-color: #277F83;
    font-size: 1em;
    border: 1px solid transparent;
    position: relative;
    z-index: 1;
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;

}

/*#homeToggle .btn-default:hover,*/
#home .btn-default:hover{
    border: 1px solid #30A99E;
    background-color: transparent;
}

#home p{
    font-family: 'ABeezee';
    font-size: 2.5em;
}

.contenido{
    display: none;
}

aside{
    position: fixed;
    width: 217px;
    background-image: url(../img/fondos/tumblr_nrjpypMLWV1tle0q1o1_500.gif);
    color: white;
    padding: 74px 0px;
}

aside p:first-child{
    font-family: 'Kaushan Script';
    font-size: 2.7em;
    text-align: center;
}

aside p:nth-child(2){
    padding: 10px 0;
}

aside img{
    border-radius: 95%;
    width: 100px;
    margin: auto;
    border: 1px solid white;
    padding: 4%;
}

aside ul{
    list-style: none;
}

aside ul > li{
    /*padding: 13px 40px;*/
    font-size: 1.1em;
    box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
    margin-bottom: 3px; 
    transition: all .4s linear;/* efecto del link */
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}

a,a:hover,a:active,a:focus,
aside ul > li > a,
aside ul > li > a:focus,
aside ul > li > a:hover{
    text-decoration: none ;
    color: white ;
}

aside ul > li:hover{
    box-shadow: 15em 0 rgba(255, 255, 255,0.2) inset;
    color: white; 
}

aside ul>li>a{
    display: block;
    width: 100%;
    padding: 13px 40px;
    /*margin-left: 1em;*/
    transition: all .4s linear;/* efecto del link */
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}

aside ul > li > a> span{
    font-family: 'Montserrat';
}

aside ul > li > a> i{
    margin-right: 8px;
}

.redSocial{
    text-align: center;
    padding: 15% 0px;
}

.redSocial .fa-stack{
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 100%;
    background-color: #1C565D;
    margin: 0px 3px;
    font-size: 1.3em;
    transition: all .4s linear;/* efecto media social */
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear; 
}

.redSocial .fa-stack:hover{
    border: 1px solid #1C565D;
    background-color: #277F83;
}

section{
    margin-left: 217px;
   
    color: white;
}

/*================ ABOUT ===============*/

.about{
    background-color: beige;
    text-align: center;
    color: black;
    padding-bottom: 9%;
}

.about img{
    border-radius: 50%;
    width: 64%;
    height: 54vh;
    margin: auto;
}

.about .foto{
    padding-top: 28%;
}

.informacion{
    padding-top: 35%;
    padding-left: 17%;
}

.informacion p{
    font-size: 1.2em;
    font-family: 'ABeezee';
    text-align: justify;
}


/*================= HABILIDADES ==================*/

.habilidades{
    background-image: url(../img/fondos/parallax.png);
    padding-top: 0.5%;
    padding-bottom: 7%;
}

.habilidades .fa-stack{
    border: 4px double #FFF;
    border-radius: 73%;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
}
 
.habilidades .fa{
    font-size: 3.5em;
    position: absolute;
}

p{
    font-size: 1.2em;
    font-family: 'ABeezee';
    text-align: justify;
    text-align: center;
}
/*================ PORTAFOLIO ===============*/

.portfolio{
    background-color: beige;
    padding: 2% 3%;
    position: relative;
    color: black;
    padding-bottom: 7%;
}

.title{
    padding: 2% 0;
}
.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid bisque;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: pointer;
    background: #fff no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: 'ABeezee';
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    border-radius: 4px;
    font-family: 'ABeezee';
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-sixth img { 
	transition: all 0.4s ease-in-out 0.5s; 
}
.view-sixth .mask{ 
	background-color: rgba(146,96,91,0.5);
	opacity:0;
	transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2{
	opacity:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p { 
	opacity:0;
    transform: scale(10);
	transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info { 
	opacity:0;
    transform: translateY(100px);
	transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {  
	opacity:1; 
	transition-delay: 0s;
}																			 
.view-sixth:hover img { 
	transition-delay: 0s; 
}
.view-sixth:hover h2 { 
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.1s;
}
.view-sixth:hover p { 
	opacity:1; 
    transform: scale(1);
	transition-delay: 0.2s;
}
.view-sixth:hover a.info { 
	opacity:1;
    transform: translateY(0px);
	transition-delay: 0.3s;
}

/*================= CONTACTAME ==================*/

.contactame .boxPhoto{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    display: flex;        /* centrar el texto */
    align-items: center;
    justify-content: center;  /* end centrar el texto */
}   

.contactame{
    background-image: url(../img/fondos/Fondo-abstracto-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.correo{
    font-family: 'Kaushan Script';
    font-size: 2em;
}

.contactame .fa{
    font-size: 6em;
}

.contactame .fa.fa-stack{
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 4% 2% 0;
    transition: all .4s linear;/* efecto del link */
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    border-radius: 29%;
    /*border: 1px dashed #277F83;*/
}

.contactame .fa.fa-stack:hover{
    background-color: rgb(39, 127, 131);
    border-radius: 29%;
}


#asideToggle{
    display: none;
}
